
{% if content.field_image|render %}
        
        <div class="col-md-4">
        
      
       {{content.field_image}}
      
        </div>
   {% endif %}    
    {% if content.field_image|render %}
          
        <div class="col-md-8">
    {% else %}  
       <div class="col-md-12"> 
    {% endif %}  
          <div class="row">
            <div style="background-color:#BD4B26; color:white;" class="col-md-12">
              <h2 class="text-center">
              {{ label }}
              </h2>
            </div>
          </div>
          <div style="margin-top:30px;" class="row">
            <div style="font-size:1.2em; font-weight:600;" class="col-md-12">

            {{ content.body }}
            </div>
          </div>
        </div>
        
      