		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12"> <h2 class="text-center">{{ label }}</h2></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
						{{ content.field_image }}
						{{ content.title }}
						{{ content.field_position }}
						</div>
					</div>
				</div>
			</div>
		</div>

