<ul class="list-group">
	<li class="list-group-item" ><a href="/commissions-hearings/{{var1}}/commissioners/">Commissioners</a></li>
	<li class="list-group-item" ><a href="/commissions-hearings/{{var1}}/agenda/">Agendas</a></li>
	<li class="list-group-item" ><a href="/commissions-hearings/{{var1}}/hearing-notices/">Hearing Notices</a></li>
	<li class="list-group-item" ><a href="/commissions-hearings/{{var1}}/public-workshops/">Public Workshops</a></li>
</ul>

